* {
  padding: 0;
  margin: 0;
  list-style:none;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: #252525;
}

h1, h2 {
  padding: 20px 0;
}

input, button {
  margin: 0 20px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
}

/* header */
header {
  padding: 20px 0 40px 0;
  background-color: #252525;
  text-align: center;
  color: #fff;
}
header input  { width: 300px; }
header button { width: 100px; }

/* streams detail */
.detail { padding: 20px 0 0 0; }
.detail > div {
  text-align: center;
  font-family: helvetica;
}
.detail img {
  margin: 0 0 20px 0;
  max-width: 500px;
}

/* streams content */
.content {
  position: relative;
  margin: 20px auto;
  left: 0; right: 0;
  text-align: center;
  width: 500px;
}

.content > div > a {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
}

.content > div:hover {
  background: #f2f2f2;
}

.content span {
  width: 110px;
}

/* footer */
footer  {
  padding: 64px 0;
  text-align: center;
}

/* github icon */
.icon {
  position:absolute;
  width: 32px;
  height: 32px;
}

.github {
  background: url('/images/GitHub-Mark-120px-plus.png');
  background-size:cover;
}

.github.light {
  background: url('/images/GitHub-Mark-Light-120px-plus.png');
  background-size:cover;
}

