<html>
  <head>
    <title>Youtube Retriever</title>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <div id="youtube-retriever"></div>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
